/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/


body, html {
    height: 100%;
	font-family: 'Nanum Gothic', sans-serif;
	
}

.main {
	color: rgba(255,255,255) !important;
}



@media (min-width: 1200px) {

	boyd, html {
		font-size: 16px;
	}
	
	aside nav {
		margin-top: 100%;
		margin-left: 10px;
	}

	aside nav ul li a {
		font-size: 160%;
		color: rgba(255,255,255, .6) !important;
	}

	aside nav ul li a:hover {
		color: rgba(255,255,255, .9) !important;
	}

	.active_link {
		color: rgba(255,255,255, .9) !important;
	}

	aside {
		background-image:url('../img/navbar_2.jpg');
		background-repeat:no-repeat;
		background-position:top right;
		background-size: 250%;
		background-color: rgb(165,42,42, 0.6);
		height: 100%;

		-webkit-box-shadow: 5px 0px 11px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 5px 0px 11px 0px rgba(0,0,0,0.75);
		box-shadow: 5px 0px 11px 0px rgba(0,0,0,0.75);

		padding-left: 5px !important;
	}

	.social-circle li a {
		display:inline-block;
		position:relative;
		margin:0 auto 0 auto;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		border-radius:50%;
		text-align:center;
		width: 50px;
		height: 50px;
		font-size:20px;
		background-color: #D3D3D3;
	}
	.social-circle li i {
		margin:0;
		line-height:50px;
		text-align: center;
	}

	.larger {
		font-size: 140%;
	}

	.player-holder{
	   height: 400px;
	   width: 400px
	   max-width:650px;
	   text-align: center;
	}
	.player-thumb{
	   width: 400px;
	   height: 400px;
	   display: inline-block;
	   border-radius: 50%;
	   background-image: url('../img/main.jpg');
	   background-size: cover;
	   background-position: center;
	}

	.header {
		border-bottom: 1px solid rgb(184,184,184, 0.7);
		margin-bottom: 30px !important;
	}

	.main-small {
		display: none !important;
	}

	.main-small:hover {
		text-decoration: underline;
		color: white;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	aside nav ul li a {
		font-size: 160%;
		color: rgba(255,255,255, .8) !important;
	}

	aside nav ul {
		padding-left: 3% !important;
		padding-right: 3%;	
	}

	aside nav ul li a:hover {
		color: rgba(255,255,255, .99) !important;
	}

	.active_link {
		color: rgba(255,255,255, .99) !important;
	}

	h1 {
		font-size: 4rem !important;
	}

	h2 {
		font-size: 2.5rem !important;
	}

	aside {
		background-image:url('../img/navbar_2.jpg');
		background-repeat:no-repeat;
		background-position:center;
		background-size: 150%;

		-webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.65);
		-moz-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.65);
		box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.65);
		padding-bottom: 10px !important;

		padding-left: 0px !important
	}

	.social-circle li a {
		display:inline-block;
		position:relative;
		margin:0 auto 0 auto;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		border-radius:50%;
		text-align:center;
		width: 35px;
		height: 35px;
		font-size:20px;
		background-color: #D3D3D3;
	}
	.social-circle li i {
		margin:0;
		line-height: 30px;
		text-align: center;
	}

	body {
		padding-top: 125px;
	}

	body, html {
		font-size: 12px !important;
	}

	.larger {
		font-size: 120%;
	}

	.player-holder{
	   height: 250px;
	   width: 250px
	   max-width:250px;
	   text-align: center;
	}
	.player-thumb{
	   width: 250px;
	   height: 250px;
	   display: inline-block;
	   border-radius: 50%;
	   background-image: url('../img/main.jpg');
	   background-size: cover;
	   background-position: center;
	}
	
	.header {
		border-bottom: 1px solid rgb(184,184,184, 0.7);
		margin-bottom: 20px !important;
	}

	.main-small {
		width: 100%;
		color: white;
		font-size: 120%;
	}

	.main-small:hover {
		text-decoration: underline;
		color: white;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {

	body {
		padding-top: 175px;
	}

	body, html {
		font-size: 16px !important;
	}

	h1 {
		font-size: 4rem !important;
	}

	aside nav ul li a {
		font-size: 250%;
		color: rgba(255,255,255, .8) !important;
	}

	aside nav ul {
		padding-left: 3% !important;
		padding-right: 3%;	
	}

	aside nav ul li a:hover {
		color: rgba(255,255,255, .99) !important;
	}

	.active_link {
		color: rgba(255,255,255, .99) !important;
	}

	aside {
		background-image:url('../img/navbar_2.jpg');
		background-repeat:no-repeat;
		background-position:center;
		background-size: 150%;
		
		-webkit-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.65);
		-moz-box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.65);
		box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.65);
		padding-bottom: 10px !important;

		padding-left: 0px !important
	}

	.social-circle li a {
		display:inline-block;
		position:relative;
		margin:0 auto 0 auto;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		border-radius:50%;
		text-align:center;
		width: 65px;
		height: 65px;
		font-size:30px;
		background-color: #D3D3D3;
	}

	.social-circle li i {
		margin:0;
		line-height: 60px;
		text-align: center;
	}

	.larger {
		font-size: 140%;
	}

	.player-holder{
	   height: 350px;
	   width: 350px
	   max-width:250px;
	   text-align: center;
	}
	.player-thumb{
	   width: 350px;
	   height: 350px;
	   display: inline-block;
	   border-radius: 50%;
	   background-image: url('../img/main.jpg');
	   background-size: cover;
	   background-position: center;
	}

	.header {
		border-bottom: 1px solid rgb(184,184,184, 0.7);
		margin-bottom: 20px !important;
	}

	.main-small {
		width: 100%;
		color: white;
		font-size: 170%;
	}

	.main-small:hover {
		text-decoration: underline;
		color: white;
	}
}

.video {
    width: 100%;
    height: 60%;
    margin: auto;
    margin-bottom: 15px;
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    /*padding-top: 30px;*/
    position: relative;
	
}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.title {
    font-weight: 300;
}

#name-nav {
    margin-top: 100%;
}
.page-content {
 /** width: calc(100% - 17rem);
  margin-left: 17rem; **/
  transition: all 0.4s;
}

.img-grid {
    max-width: 100%;
	width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

.social-circle-big li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 120px;
	height: 120px;
	font-size:80px;
	background-color: #D3D3D3;
}

.social-circle-big li i {
	margin:0;
	line-height: 60px;
	text-align: center;
}

body {
  //background: #599fd9;
  //background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
  //background: linear-gradient(to right, #599fd9, #c2e59c);
  min-height: 100vh;
  overflow-x: hidden;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}


/* Icons */

ul.social-network {
	list-style: none;
	display: inline-block;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoYoutube:hover {
	background-color: #FF0000;
}
.social-network a.icoInstagram:hover {
	background-color:#833AB4;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}



/*.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}*/

.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle-big i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
